.item-container {
  background-color: black;
}
.job-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item1 {
  color: white;
  list-style: none;
  background-color: #2c364c;
  padding: 20px;
  border-radius: 8px;
  width: 900px;
}

.description-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.url {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-item {
  margin: 2px;
  display: flex;
  color: white;
  align-items: center;
}
.skill-image {
  width: 100px;
}

.life-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.life-description {
  font-size: 18px;
}

.similar-item {
  width: 400px;
  color: white;
  list-style: none;
  background-color: #2c364c;
  padding: 20px;
  border-radius: 8px;
  margin: 8px;
}

.similar-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
